.container {
  position: fixed;
  left: 0;
  height: 100%;
  width: 614px;
  transform: translate(-616px);
  transition: transform 0.5s ease;
  overflow: scroll;
}

.container_open {
  transform: translate(0);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 50px;
  box-sizing: border-box;
  height: auto;
  min-height: 100%;
  padding: 50px 31px;
  flex-shrink: 0;
  border-right: 1px solid #000;
  background-color: #fff;
}

.title {
	color: rgb(0, 0, 0);
	font-family: Open Sans;
	font-size: 31px;
	font-weight: 800;
	line-height: 42px;
	letter-spacing: 0%;
	text-transform: uppercase;
}

.bottomContainer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}
